<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travelapps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission." />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelApps"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Main.LoginRegister.ResetPasswordActivity"
            android:exported="false"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/Theme.TravelApps.NoActionBar" />
        <activity
            android:name=".Main.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".Main.PemsenanActivity"
            android:exported="false" />
        <activity
            android:name=".Main.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Main.InboxActivity"
            android:exported="false" />
        <activity
            android:name=".Detail.DetailView"
            android:parentActivityName=".Main.MainActivity" />
        <activity
            android:name=".Main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Main.LoginRegister.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Main.LoginRegister.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Main.Splash_Screen_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>